@import "tailwindcss";

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #cf6a32;
  /* TF2 Orange */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a04d20;
}